# Logs
logs
*.log
npm-debug.log*


# Build
dist/release
dist/debug

# Dependency directories
node_modules/

# Distribution directories
dist/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

#storybook
*.DS_Store
node_modules
storybook-static

