.wam-score-container{
    text-align: center;
    width: fit-content;
    position:absolute;
    left: 50px;
    top:10px;
    .wam-score-label{
        color : red;

    }
    .wam-score-points{
        color : black;
    }
}