.wam-mole-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
    width: 150px;
    padding: 25px;
    img{
        width: 80%;
        height: auto;
    }
}
