@import "./../styles//colors.scss";

.wam-app-container{
    background: #acb6e5; 
    background: -webkit-linear-gradient(to right, $secondary, $primary);  
    background: linear-gradient(to right, $secondary,  $primary);
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}