.wam-game-container{
    background: #acb6e5; 
    background: -webkit-linear-gradient(to right, #86fde8, #acb6e5);  
    background: linear-gradient(to right, #86fde8, #acb6e5);
    width: 100vw;
    height: 100vh;
}